header.desktop-menu {
    display: flex;
    width: 100%;
    border: 2px solid red;
    height: 280px;
    z-index: 3;
    /* position: relative; */
    
}

nav.main-menu {
    width: 100%;
}


.menu-desktop {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 20px 100px;
    /* position: relative; */
   
}

.menu-desktop .menu-desktop-links {
    display: flex;
}

.menu-desktop .menu-desktop-links li a {

    font-family: Inter;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-left: 30px;
    opacity: 0.7;
}

.menu-desktop .menu-desktop-links li a:hover {
    opacity: 1;
}

/* DROPDOWN */
.dropdown-container {
    position: relative;
    display: inline-block;
    /* height: auto; */
    height: 250px;
    width: 130px;
}

.dropdown-container .dropdown {
    position: absolute;
    background-color: #1D2F36;
    width: 150px;
    top: 20pxpx;
    left: 0px;
    border-radius: 8px;
    z-index: 3;

}

.dropdown-container .dropdown li {
    padding: 10px 5px;
    width: 100%;
}

.dropdown-container .dropdown li:hover {
    background-color: hsl(197, 30%, 22%) ;
}