.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-white);
    border-radius: 50%;
    width: 60px;
    height: 60px;

}
.container-menu {
    display: flex;
    width: 100%;
    min-width: 900px;
    margin: 0 auto;
    margin-right: 40px;
    justify-content: space-between;
    background-color: var(--bg-blue);
    height: auto;
    padding: 40px 140px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bg-blue);;
    
}

nav.container-menu-links ul {
    display: flex;
    /* padding-right: 120px; */
}

nav.container-menu-links ul li a {
    margin-left: 30px;
    color: var(--bg-white);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.7px;
    text-decoration: none; 
    display: inline-block;
    opacity: .5;
    
}

nav.container-menu-links ul li a.main-menu:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #ffffff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

nav.container-menu-links ul li a.main-menu:hover:after {
    color: var(--bg-white);
    font-weight: semi-bold;
    cursor: pointer;
    width: 100%;
}

nav.container-menu-links ul li a:hover {
    opacity: 1;
}


/* DROPDOWN MENU  */

.dropdown-container {
    position: relative;
}

.dropdown-container:hover .dropdown {
    top: 40px;
    opacity: 1;
    visibility: initial;
}


ul.dropdown {
    position: absolute;
    top: 30px;
    left: 30px;

    margin-top: 4px;
    padding: 0 0;

    width: 180px;

    display: flex;
    flex-direction: column;
    background-color: var(--black);

    border-radius: 4px;
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,.6);

    opacity: 0;

    visibility: hidden;
    
    transition: all 200ms;

    z-index: 1;

}

ul.dropdown li a,
ul.dropdown li button {
    font-size: 16px;
    color: #333;

    display:flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 48px;

    padding: 8px 16px;
    
    border-radius: 4px;
}

ul.dropdown li:hover,
ul.dropdown li:hover button {
    background-color: #666;
}

/*actions*/
.actions.dropdown-container {
    display: flex;
    align-items: center;
    height: 48px;
    cursor: pointer;
    padding: 0 16px;
}
.actions.dropdown-container:hover {
    background-color: white;
}

button.actions.sold, button.actions.canceled {
    background-color: #333;
    color: white;
    border-radius: 0;
}

button.actions.canceled:hover {
    background-color: rgba(240, 119, 119, 0.6);
    color: #333;
}

button.actions.sold:hover {
    background-color: rgba(112, 235, 194, 0.6);
    color: #333;