.SG360-features {
    background-color: #333;
    width: 100%;
    padding: 20px 30px;
    text-align: center;
    overflow-x: hidden;
    box-sizing: border-box;
}
.SG360-features h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    margin-bottom: 150px;
    margin-top: 80px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 0px 6px 12px rgba(8, 35, 48, 0.14), 0px 16px 24px rgba(8, 35, 48, 0.08);
}

.SG-service {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 80px auto;
    box-sizing: border-box;
}

.SG-service div.img.SGA {
    background-image: url('../assets/card/old/SGA.png');
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: fit;
    background-position: center center;
    width: 466px;
    height: 336px;
}

.SG-service div.img.SGT {
    background-image: url('../assets/card/old/SGT.png');
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: fit;
    background-position: center center;
    width: 466px;
    height: 336px;
}

.SG-service.SGT {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 80px auto;
}

.SG-service.SGT .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: flex-end;
    max-width: 700px;
    height: 336px;
}

.SG-service.SGT .info a {
    color: white;
    opacity: 0.5;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    width: 85%;
}

.SG-service.SGT .info a i.arrow {
    padding-left: 5px;
    align-self: center;
}

.SG-service.SGT .info h1 {
    width: 85%;
}

.SG-service div.img.SGO {
    background-image: url('../assets/card/old/SGO.png');
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: fit;
    background-position: center center;
    width: 466px;
    height: 336px;
}

.SG-service .info {
    /* width: 60%; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    max-width: 700px;
    height: 336px;
}

.SG-service .info h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    max-width: 100%;
    line-height: 135%;
    letter-spacing: -0.02em;
    background: linear-gradient(90deg, #77A7BC 0%, #1D8989 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    width: 500px;
}

.SG-service .info p {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.15px;
    color: hsl(233, 13%, 55%); 
    display: block;
    width: 85%;
}

.SG-service .info a {
    color: white;
    opacity: 0.5;
    margin-top: 10px;
    display: block;
}

.SG-service .info a:hover {
    opacity: 1;
}



/* ============================= */

@media only screen and (max-width: 960px) {

    .SG360-features h1 {
        margin-bottom: 100px;
    }

    .SG-service.SGT {
        
    }
    
    .SG-service {
        display: flex;
        width: 90%;
        justify-content: center;
        margin: 80px auto;
        padding-bottom: 50px;
    }
    
    .SG-service .info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        align-items: flex-end;
        max-width: 700px;
        height: 336px;
    }
    
    .SG-service .info a {
        color: white;
        opacity: 0.5;
        margin-top: 10px;
        display: flex;
        align-items: center;
        text-align: left;
        width: 85%;
    }
    
    .SG-service.SGT .info a i.arrow {
        padding-left: 1px;
        align-self: center;
    }
    
    .SG-service .info h1 {
        width: 85%;
    }

    .SG-service div.img {
        display: none;
    }
    
    div.SG-service.SGT,
    div.SG-service {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 80px auto;
    }

    .SG-service.SGT,
    div.SG-service {
        width: 100%;
    }

    .SG-service.SGT .info,
    div.SG-service .info {
        align-items: flex-start;
    }

}