{% extends 'layout.njk' %}

{% block content %}

    {%include "parts/cover.njk" %}
    {%include "parts/about.njk" %}
    {%include "parts/SG360.njk" %}
    {%include "parts/SG-features.njk" %}
    {%include "parts/contato.njk" %}

{% endblock content %}