{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/cover.css">
    <link rel="stylesheet" href="style/about.css">
{% endblock %}

{% block content %}

    {%include "parts/cover.njk" %}
    {%include "parts/about.njk" %}
    {%include "parts/SG360.njk" %}
    {%include "parts/SG-features.njk" %}
    {%include "parts/contato.njk" %}
    {# {%include "parts/contato-mobile.njk" %} #}

{% endblock content %}