<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Launchstore</title>
        {% endblock %}
        {% include "parts/styles.njk" %}
    </head>
    <body>

        {%include "parts/header.njk" %}

        <section class="main">
            {% block content %}{% endblock %}
        </section>

        {%include "parts/footer.njk" %}

        {% block script %}{% endblock %}

    </body>
</html>