{% extends 'layout.njk' %}

{% block content %}

    <section class="presentation-cover">
        <div class="presentation-title">
            <h1>Sistema de Gerenciamento Ambiental
                <span>SGT</span></h1>
            <p>O SGA foi desenvolvido com objetivo de implementar serviços de banco de dados estruturados para a recuperação de informações estratégicas para a tomada de decisões no que tange aspectos ambientais demandados por empreendimentos, quer seja na fase planejamento, implantação e operação.
            </p>
        </div>
        <div class="presentation-img"></div>
    </section>

    <section class="presentation-info">
        <div class="title">
            <h1>Visão geral da ferramenta</h1>
            <h2>Conheça a situação das suas licenças. Bata seus prazos. Entenda o desempenho e custos. Melhore a eficiência da equipe.</h2>
        </div>

        {% include "../parts/sga-cards.njk" %}

    </section>
    <section class="presentation-details">
        <div class="title">
            <h1>Serviços Ofertados</h1>
            <h2>Stress your business with all the bad tools to reject Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...</h2>
        </div>
        <div class="presentation-details-info">
            <div class="presentation-details-img"></div>
            <div class="presentation-items">

                <div class="item">
                    <div class="icon">
                        <img src="assets/icons-sg/Feature Icon-3.png" alt="">
                    </div>
                    <div class="text">
                        <h3>Banco de dados</h3>
                        <p>Estruturar banco de dados (Criar Critério de Organização, Armazenamento e Manutenção dos Dados) e permitir acesso a banco de dados estruturado de forma rápida e otimizada.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="assets/icons-sg/Feature Icon-1.png" alt="">
                    </div>
                    <div class="text">
                        <h3>Banco de dados</h3>
                        <p>Estruturar banco de dados (Criar Critério de Organização, Armazenamento e Manutenção dos Dados) e permitir acesso a banco de dados estruturado de forma rápida e otimizada.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="assets/icons-sg/Feature Icon-2.png" alt="">
                    </div>
                    <div class="text">
                        <h3>Banco de dados</h3>
                        <p>Estruturar banco de dados (Criar Critério de Organização, Armazenamento e Manutenção dos Dados) e permitir acesso a banco de dados estruturado de forma rápida e otimizada.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="assets/icons-sg/Feature Icon.png" alt="">
                    </div>
                    <div class="text">
                        <h3>Banco de dados</h3>
                        <p>Estruturar banco de dados (Criar Critério de Organização, Armazenamento e Manutenção dos Dados) e permitir acesso a banco de dados estruturado de forma rápida e otimizada.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock content %}