<section class="container about">
    <div class="about img-about"></div>

    <div class="about-content">
        <div class="about info">
            <h1>OrbitGeo</h1>
            <p>A ORBITGEO TECNOLOGIA E SUSTENTABILIDADE LTDA. é uma empresa especializada em geotecnologica. Nossa companhia oferece em seus produtos e serviços a garantia que os dados necessários a tomada de decisões no que tange aspectos ambientais, dentre outros, demandados por empreendimentos, quer seja na fase planejamento, implantação e operação, estejam disponíveis para seus usuários.</p>
            <p>A empresa está sendo conduzida por equipe compartilhada da CONTROL AMBIENTAL SUSTENTABILIDADE E MEIO AMBIENTE S.A empresa que possui 10 anos de mercado e com vasta experiência em projetos de médio e grande porte desenvolvidos para clientes de diversos setores, dentre os quais podemos destacar: Construção/Obras de Engenharia, Portos e Terminais, Energia, Petróleo e Gás.</p>
        </div>
    </div>

</section>