<nav class="menu-mobile">
    <input type="checkbox" name="check" id="check">
    <label for="check" class="checkbtn">
        {# <i class="fas fa-bars"></i> #}
        <div id="toggle" class="menu menu-1">
            <span class="menu-item"></span>
            <span class="menu-item"></span>
            <span class="menu-item"></span>
        </div>
    </label>
    <ul>
        <li>
            <a class="active" href="#home">Home</a>
        </li>
        <li>
            <a href="#about">Sobre nós</a>
        </li>
        <li>
            <a href="#products">Produtos</a>
        </li>
        <li>
            <a href="#cases">Cases</a>
        </li>
        <li>
            <a href="#contact">Contato</a>
        </li>
        <li>
            <input type="checkbox" name="check" id="menu-contact">
            <label for="check" class="checkbtn">
                <a href="#contact">Contato</a>
            </label>
        </li>

    </ul>

</nav>