<section id="contact" class="container contact">

    <!--The div element for the map -->
    <div id="map"></div>

    <div class="contact-div">
        <div class="contact-form">
            <form action="mailto:fernanda.ribeiro@controlambiental.com.br" method="POST" enctype="text/plain" name="contact_form" role="form">
                <h1>Agenda uma demonstração</h1>
                <div class="customer-info">
                    <input placeholder="Nome" name="Name" type="text">
                    <input placeholder="E-mail" name="Email" type="email">
                </div>
                <input placeholder="Empresa" name="empresa" type="text">
                <textarea placeholder="Mensagem" name="Message" id="mensagem" cols="30" rows="10"></textarea>
                <button type="submit">ENVIAR</button>
            </form>
        </div>

        <div class="contact-info">
            <h1>Nosso contato</h1>
            <div class="address">
                <h2>Endereço</h2>
                <p>29 East 19th St.</p>
                <p>Floor 3</p>
                <p>New York, NY, 10003</p>
            </div>
            <div class="telephone">
                <h2>Telefone</h2>
                <p>+55 27 398-8084</p>
            </div>
            <div class="email-info">
                <h2>Email</h2>
                <p>admin@orbitgeo.com</p>
            </div>
        </div>

    </div>
    <div class="whatsapp">
        <a class="whatsapp-btn" target="_blank" href="https://wa.me/5527998753750?text=Estou%20interessado%20em%20uma%20demonstra%C3%A7%C3%A3o%20dos%20Sistemas%20da%20OrbitGeo%2C%20por%20favor.">
            <i class="fa fa-whatsapp icon" aria-hidden="true"></i>
        </a>
    </div>
</section>

{# https://meyerweb.com/eric/tools/dencoder/ #}