<section id="home" class="container home cover">
    <div class="home-content">
        <div class="home info">
            <h1>Serviços de Plataforma Digital para Gestão de Dados Operacional, Ambiental, Fundiário e Estratégico</h1>
            <h3>Lorem Ipsum is simply dummy text of the printing and typese.</h3>
            <a class="button" href="">Agende uma demonstração</a>
        </div>

        <div class="home img-cover">
            {# <img src="assets/cover-img2.png" alt="imagem"> #}
        </div>
    </div>

</section>