<footer>
    <div class="footer-menu">
        <a href="/">
            <div class="logo-footer">
                <img src="/assets/icon-box.png" alt="">
            </div>
        </a>

        <nav class="footer-menu-links">
            <ul>
                <li>
                    <a class="main-menu" href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a class="main-menu" href="/">
                        Sobre nós
                    </a>
                </li>
                <li class="dropdown-container">
                    <a href="/">
                        Produtos
                    </a>
                </li>
                <li>
                    <a class="main-menu" href="/">
                        Cases
                    </a>
                </li>
                <li>
                    <a class="main-menu" href="/">
                        Contato
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <hr>
    <span class="line"></span>
    <p>placeholder segundo footer</p>
</footer>