<footer>
    <div class="footer-menu">
        <a href="#home">
            <div class="logo-footer">
                <img src="/assets/logo-orbit-white.png" alt="">
            </div>
        </a>

        <nav class="footer-menu-links">
            <ul>
                <li>
                    <a class="main-menu" href="#home">
                        Home
                    </a>
                </li>
                <li>
                    <a class="main-menu" href="#about">
                        Sobre nós
                    </a>
                </li>
                <li class="dropdown-container">
                    <a href="#products">
                        Produtos
                    </a>
                </li>
                <li>
                    <a class="main-menu" href="#cases">
                        Cases
                    </a>
                </li>
                <li>
                    <a class="main-menu" href="#contact">
                        Contato
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <hr>
    <span class="line"></span>
    <p>placeholder segundo footer</p>
</footer>