<header>
    <nav class="main-menu">

        <nav class="menu-mobile">
            <input type="checkbox" name="check" id="check">

            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li>
                    <a class="active" href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">Sobre nós</a>
                </li>
                <li>
                    <a href="#products">Produtos</a>
                </li>
                <li>
                    <a href="#cases">Cases</a>
                </li>
                <li>
                    <a href="#contact">Contato</a>
                </li>
            </ul>

        </nav>

        <nav class="menu-desktop">
            <a href="/">
                <div class="logo">
                    <img src="/assets/icon-box.png" alt="">
                </div>
            </a>
            <ul class="menu-desktop-links">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="#about">Sobre nós</a>
                </li>
                <li>
                    <a href="#products">Produtos</a>
                </li>
                <li>
                    <a href="#cases">Cases</a>
                </li>
                <li>
                    <a href="#contact">Contato</a>
                </li>
            </ul>
        </nav>

    </nav>
</header>