<header>

    <div class="container-menu">
        <a href="/">
            <div class="logo">
                <img src="/assets/icon-box.png" alt="">
            </div>
        </a>

        <nav class="container-menu-links">
            <ul>
                <li>
                    <a class="main-menu" href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a class="main-menu" href="/">
                        Sobre nós
                    </a>
                </li>
                <li class="dropdown-container">
                    <a href="/">
                        Produtos
                    </a>

                    <ul class="dropdown">
                        <li>
                            <a href="/">SG360</a>
                        </li>
                        <li>
                            <a href="/">SGA</a>
                        </li>
                        <li>
                            <a href="/">SGT</a>
                        </li>
                        <li>
                            <a href="/">SGO</a>
                        </li>
                    </ul>
                <li>
                    <a class="main-menu" href="/">
                        Cases
                    </a>
                </li>
                <li>
                    <a class="main-menu" href="/">
                        Contato
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</header>