<header class="desktop-menu">
    <nav class="main-menu">
        <nav class="menu-desktop">
            <a href="/">
                <div class="logo">
                    <img src="/assets/icon-box.png" alt="">
                </div>
            </a>
            <ul class="menu-desktop-links">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="#about">Sobre nós</a>
                </li>
                <li>
                    <a href="#products">Produtos</a>
                </li>
                <li>
                    <a href="#cases">Cases</a>
                </li>
                <li>
                    <a href="#contact">Contato</a>
                </li>
            </ul>
        </nav>

    </nav>
</header>