<section class="container-map">
    <div id="map_container"></div>
    <div id="map"></div>

    <div class="box-info-map">

        <div class="dialog-text">
            <h1 class="main">
                Orbit Geo
            </h1>
            <p class="details">
                <span>R. Manoel Feu Subtil, 60</span><br>
                <span>Vitória - ES</span><br>
                <span class="gr">(210) 555 ~ 4598</span>
            </p>
            <p class="details">
                <span>SEGUNDA - SEXTA</span><br>
                <span class="gr">8:30AM ~ 6:30PM</span>
            </p>
        </div>

        <!--boxes-->

        <svg class="marker-dialog" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 420 310">
            <path fill="#333" id="marker" d="M254.8 179.8c-11.5-11.6-27.3-18.7-44.9-18.7-35 0-63.4 28.5-63.4 63.8 0 26 20.3 48.1 38.2 62.7 16.4 13.4 24 20.4 25.1 21.4.2.1.2.1.9-.6 2.3-2.1 10-9 24.5-20.8 17.8-14.6 38.2-36.7 38.2-62.7 0-17.6-7.1-33.6-18.6-45.1z"/>
            <path id="box" d="M2 2h416v283H2z" fill="#333"/>
            <g fill="#333" id="close">
                <rect id="closeback" fill="#333" x="370.8" y="20.7" width="24.8" height="24.8"/>
                <path fill="#333" stroke="#777" d="M370.8 20.7l24.8 24.8"/>
                <path fill="#333" stroke="#777" d="M395.6 20.7l-24.8 24.8"/>
            </g>
            <g fill="#555" id="corner">
                <defs>
                    <path id="SVGID_1_" d="M2 2h227.8L2 231.3z"/>
                </defs>
                <clippath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_" overflow="visible"/>
                </clippath>
                <g clip-path="url(#SVGID_2_)">
                    <image overflow="visible" width="3210" height="2448" xlink:href="https://lh3.googleusercontent.com/proxy/Jhy-mEJZedeTVyu1H2JythzDJr4ynVLjlAIT_9jD9YilvnYaWPaBAnB09YG6tt1Q0TLfWTfw11zy5UlfAm6lEbVvcME45JTxYgz_gy8A3b4" transform="matrix(.098 0 0 .098 -84.265 -32.095)"/>
                </g>
                <g>
                    <defs>
                        <path id="SVGID_3_" d="M2 2h227.8L2 231.3z"/>
                    </defs>
                    <clippath id="SVGID_4_">
                        <use xlink:href="#SVGID_3_" overflow="visible"/>
                    </clippath>
                </g>
            </g>
            <path id="divider" fill="#333" stroke="#333" stroke-miterlimit="10" d="M204 184h142"/>
        </svg>

    </div>

</section>