<header>
    {% include "parts/toggleMenu.njk" %}
    <div class="container">
        <a class="logo" href="/">
            <div class="logo">
                <img src="/assets/logo-orbit-white.png" alt="">
            </div>
        </a>

        <nav class="primary">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#about">
                        Sobre
                    </a>
                </li>

                <li class="dropdown-container">
                    <a href="#products">
                        Produtos
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="/products">Serviços Ofertados</a>
                        </li>
                        <li>
                            <a href="/#products">SG360</a>
                        </li>
                        <li>
                            <a href="/sga">SGA</a>
                        </li>
                        <li>
                            <a href="/sgt">SGT</a>
                        </li>
                        <li>
                            <a href="/sgo">SGO</a>
                        </li>
                    </ul>
                </li>
                {# <li>
                    <a href="/contact">
                        Contato
                    </a>
                </li> #}
                <li class="button-nav">
                    <a class="button-nav" href="/contact">Agende uma demonstração</a>
                </li>
            </ul>
        </nav>
    </div>
</header>