<header>
    <div class="container">
        <a class="logo" href="/">
            <div class="logo">
                <img src="assets/icon-box.png" alt="">
            </div>
        </a>

        <nav class="primary">
            <ul>
                <li>
                    <a href="#home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#about">
                        Sobre
                    </a>
                </li>

                <li class="dropdown-container">
                    <a href="#products">
                        Produtos
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="/">Minha conta</a>
                        </li>
                        <li>
                            <a href="/">Meus anúncios</a>
                        </li>
                        <li>
                            <a href="/">Meus pedidos</a>
                        </li>
                        <li>
                            <a href="/">Minhas vendas</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#contact">
                        Contato
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>