<section class="container SG360-features">
    <h1>Serviços ofertados</h1>

    <div class="SG-service">
        <div class="info">
            <h1>Sistema de gerenciamento ambiental</h1>
            <p>I've missed more than 9000 shots in my career. I've lost almost 300 games. 26 times I've been trusted to take the game winning shot and missed. I've failed over and over and over again in my life. And that is why I succeed.</p>
            <a href="/sga">Saiba mais
                <i class="material-icons arrow">arrow_forward</i>
            </a>
        </div>
        <div class="img SGA">
            <img src="" alt="">
        </div>
    </div>

    <div class="SG-service SGT">
        <div class="img SGT">
            <img src="" alt="">
        </div>
        <div class="info">
            <h1>Sistema de gerenciamento ambiental</h1>
            <p>I've missed more than 9000 shots in my career. I've lost almost 300 games. 26 times I've been trusted to take the game winning shot and missed. I've failed over and over and over again in my life. And that is why I succeed.</p>
            <a href="/sgt">Saiba mais
                <i class="material-icons arrow">arrow_forward</i>
            </a>
        </div>
    </div>

    <div class="SG-service">
        <div class="info">
            <h1>Sistema de gerenciamento ambiental</h1>
            <p>I've missed more than 9000 shots in my career. I've lost almost 300 games. 26 times I've been trusted to take the game winning shot and missed. I've failed over and over and over again in my life. And that is why I succeed.</p>
            <a href="/sgo">Saiba mais
                <i class="material-icons arrow">arrow_forward</i>
            </a>
        </div>
        <div class="img SGO">
            <img src="" alt="">
        </div>
    </div>

</section>