<section class="container SG360-features">
    <h1>Serviços ofertados</h1>
    <div class="services">

        <div class="service SG">
            <div class="SG-img">
                <img src="assets/card/old/SGA.png" alt="">
            </div>
            <div class="SG-content SG">
                <div class="title-icon">
                    <img src="assets/features/globo/verdeEscuro.png" alt="">
                    <h1>Sistema de gerenciamento ambiental</h1>
                </div>

                <p>I've missed more than 9000 shots in my career. I've lost almost 300 games. 26 times I've been trusted to take the game winning shot and missed. I've failed over and over and over again in my life. And that is why I succeed.</p>
                <div class="links">
                    <a href="">Saiba mais
                        <img src="assets/features/globo/arrow-right.png" alt="arrow-right"></a>
                </div>
            </div>
        </div>

        <div class="service SG left">
            <div class="SG-img left">
                <img src="assets/card/old/SGT.png" alt="">
            </div>
            <div class="SG-content SG left">
                <div class="title-icon">
                    <img src="assets/features/globo/laranja.png" alt="">
                    <h1>Sistema de gerenciamento territorial</h1>
                </div>

                <p>I've missed more than 9000 shots in my career. I've lost almost 300 games. 26 times I've been trusted to take the game winning shot and missed. I've failed over and over and over again in my life. And that is why I succeed.</p>
                <div class="links">
                    <a href="">Saiba mais
                        <img src="assets/features/globo/arrow-right.png" alt="arrow-right"></a>
                </div>
            </div>
        </div>

        <div class="service SG">
            <div class="SG-img">
                <img src="assets/card/old/SGO.png" alt="">
            </div>
            <div class="SG-content SG">
                <div class="title-icon">
                    <img src="assets/features/globo/verdeClaro.png" alt="">
                    <h1>Sistema de gerenciamento operacional</h1>
                </div>

                <p>I've missed more than 9000 shots in my career. I've lost almost 300 games. 26 times I've been trusted to take the game winning shot and missed. I've failed over and over and over again in my life. And that is why I succeed.</p>
                <div class="links">
                    <a href="">Saiba mais
                        <img src="assets/features/globo/arrow-right.png" alt="arrow-right"></a>
                </div>
            </div>
        </div>

    </div>
</section>