<section class="container SG360">
    <div class="SG360-cover">
        <h1 class="gray-title">SG360</h1>
        <p>A série SG360 da OrbitGeo tem o objetivo de desenvolver sistemas pensando numa gestão automatizada da Indústria 4.0.
        </p>
        <p>Os sistemas SGA, SGT e SGO foram o resultado de intensas pesquisas e desevolvimento com o intuito de criar o melhores sistemas do mercado.</p>
        <img class="SG360-cover" src="../assets/Macbook.png" alt="">
        <div class="SG360 img-about"></div>
    </div>

    <div class="SG360-features">
        <div class="SG360 features-title">
            <h1>Diferenciais da OrbitGeo</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="SG360 features-content">

            <div class="feature-item">
                <div class="item-icon">
                    <img src="assets/qualidades/time.png" alt=""></div>
                <div class="item-title">
                    <h3>Alertas automáticos</h3>
                </div>
                <div class="item-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>

            <div class="feature-item">
                <div class="item-icon">
                    <img src="assets/qualidades/computer.png" alt=""></div>
                <div class="item-title">
                    <h3>Multiplataforma</h3>
                </div>
                <div class="item-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>

            <div class="feature-item">
                <div class="item-icon">
                    <img src="assets/qualidades/team.png" alt=""></div>
                <div class="item-title">
                    <h3>Equipe multidisciplinar</h3>
                </div>
                <div class="item-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>

            <div class="feature-item">
                <div class="item-icon">
                    <img src="assets/qualidades/supporte-yellow.png" alt=""></div>
                <div class="item-title">
                    <h3>Suporte técnico</h3>
                </div>
                <div class="item-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>

        </div>

    </section>