<section id="products" class="container SG360">
    <div class="SG360-cover">
        <h1 class="gray-title">SG360</h1>
        <p>A série SG360 da OrbitGeo tem o objetivo de desenvolver sistemas pensando numa gestão automatizada da Indústria 4.0.
        </p>
        <p>Os sistemas SGA, SGT e SGO foram o resultado de intensas pesquisas e desevolvimento com o intuito de criar o melhores sistemas do mercado.</p>

        <div class="saiba-mais-button">
            <a class="button saiba-mais" href="/products">Saiba mais sobre nossos produtos
                <span class="arrow">
                    <svg width="8" height="13" viewbox="0 0 8 13" fill="hsl(211, 38%, 23%)" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.295078 2.11496L4.87508 6.70496L0.295078 11.295L1.70508 12.705L7.70508 6.70496L1.70508 0.704956L0.295078 2.11496Z" fill="#367BF5"/>
                    </svg>
                </span>
            </a>
        </div>

        <img class="SG360-cover" src="../assets/macbook-6-svg.svg" alt="">
        <div class="SG360 img-about"></div>
    </div>

    {# <div class="saiba-mais-button">
        <a class="button saiba-mais" href="/products">Saiba mais sobre nossos produtos
            <span class="arrow">
                <svg width="8" height="13" viewbox="0 0 8 13" fill="hsl(211, 38%, 23%)" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.295078 2.11496L4.87508 6.70496L0.295078 11.295L1.70508 12.705L7.70508 6.70496L1.70508 0.704956L0.295078 2.11496Z" fill="#367BF5"/>
                </svg>
            </span>
        </a>
    </div> #}

    <div class="SG360-qualities">
        <div class="SG360 qualities-title">
            <h1>Diferenciais da OrbitGeo</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="SG360 qualities-content">

            <div class="qualities-item">
                <div class="item-icon">
                    <img src="assets/qualidades/time.png" alt=""></div>
                <div class="item-title">
                    <h3>Alertas automáticos</h3>
                </div>
                <div class="item-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>

            <div class="qualities-item">
                <div class="item-icon">
                    <img src="assets/qualidades/computer.png" alt=""></div>
                <div class="item-title">
                    <h3>Multiplataforma</h3>
                </div>
                <div class="item-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>

            <div class="qualities-item">
                <div class="item-icon">
                    <img src="assets/qualidades/team.png" alt=""></div>
                <div class="item-title">
                    <h3>Equipe multidisciplinar</h3>
                </div>
                <div class="item-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>

            <div class="qualities-item">
                <div class="item-icon">
                    <img src="assets/qualidades/supporte-yellow.png" alt=""></div>
                <div class="item-title">
                    <h3>Suporte técnico</h3>
                </div>
                <div class="item-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>

        </div>

    </section>