<div class="info-items">
    <div class="info-item">
        <h3>Gerenciamento de Licenças</h3>
        <p>Go confidently in the direction of your dreams. Live the life you have imagined. – Henry David Thoreau</p>
    </div>

    <div class="info-item">
        <h3>Gerenciamento de Licenças</h3>
        <p>Go confidently in the direction of your dreams. Live the life you have imagined. – Henry David Thoreau</p>
    </div>

    <div class="info-item">
        <h3>Gerenciamento de Licenças</h3>
        <p>Go confidently in the direction of your dreams. Live the life you have imagined. – Henry David Thoreau</p>
    </div>

    <div class="info-item">
        <h3>Gerenciamento de Licenças</h3>
        <p>Go confidently in the direction of your dreams. Live the life you have imagined. – Henry David Thoreau</p>
    </div>

    <div class="info-item">
        <h3>Gerenciamento de Licenças</h3>
        <p>Go confidently in the direction of your dreams. Live the life you have imagined. – Henry David Thoreau</p>
    </div>

    <div class="info-item">
        <h3>Gerenciamento de Licenças</h3>
        <p>Go confidently in the direction of your dreams. Live the life you have imagined. – Henry David Thoreau</p>
    </div>

</div>