<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400,700,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="style/cover.css">
<link rel="stylesheet" href="style/about.css">
<link rel="stylesheet" href="style/SG360.css">
<link rel="stylesheet" href="style/SG-features.css">
<link rel="stylesheet" href="style/contato.css">
<link rel="stylesheet" href="style/footer.css">
<link rel="stylesheet" href="style/nav.css">
<link rel="stylesheet" href="style/SG-pages.css">
<link rel="stylesheet" href="style/toggleMenu.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">