<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger">
        <div></div>
    </div>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/products">Serviços Ofertados</a>
                    </li>
                    <li>
                        <a href="/sga">SGA</a>
                    </li>
                    <li>
                        <a href="/sgt">SGT</a>
                    </li>
                    <li>
                        <a href="/sgo">SGO</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>