<nav role="navigation">
    <div id="menuToggle">

        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="#about">
                <li>Sobre nós</li>
            </a>
            <a href="#products">
                <li>Produtos</li>
            </a>
            <a class="link-sg360" href="#products">
                <li>SGA</li>
            </a>
            <a class="link-sg360" href="#products">
                <li>SGT</li>
            </a>
            <a class="link-sg360" href="#products">
                <li>SGO</li>
            </a>
            <a href="#cases">
                <li>Cases</li>
            </a>
            <a href="#contact">
                <li>Contato</li>
            </a>
        </ul>
    </div>
</nav>